<footer id="footer" *ngIf="!islogin()"  >
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container" >
            <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p><br>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fas fa-map-marker-alt"></i>   1734 Stonecoal Road</a></li><br>
                            <li><a href="#"><i class="fas fa-phone-square-alt"></i>   +021-95-51-84</a></li><br>
                            <li><a href="#"><i class="fas fa-envelope"></i>    email@email.com</a></li><br>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3><br>
                        <ul class="footer-links">
                            <li><a href="#">Hot deals</a></li><br>
                            <li><a href="laptop">Laptops</a></li><br>
                            <li><a href="mobile">Smartphones</a></li><br>
                            <li><a href="camera">Cameras</a></li><br>
                            <li><a href="headphone">Headphone</a></li><br>
                        </ul>
                    </div>
                </div>

                

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3><br>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li><br>
                            <li><a href="#">Contact Us</a></li><br>
                            <li><a href="#">Privacy Policy</a></li><br>
                            <li><a href="#">Orders and Returns</a></li><br>
                            <li><a href="#">Terms &amp; Conditions</a></li><br>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3><br>
                        <ul class="footer-links">
                            <li><a href="#">My Account</a></li><br>
                            <li><a href="#">View Cart</a></li><br>
                            <li><a href="#">Wishlist</a></li><br>
                            <li><a href="#">Track My Order</a></li><br>
                            <li><a href="#">Help</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section" style="background-color: rgb(2, 8, 29);padding: 10px;">
        <div class="container" >
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fab fa-cc-visa"></i></a></li><br/>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li><br/>
                        <li><a href="#"><i class="fab fa-cc-paypal"></i></a></li><br/>
                        <li><a href="#"><i class="fab fa-cc-mastercard"></i></a></li><br/>
                        <li><a href="#"><i class="fab fa-cc-discover"></i></a></li><br/>
                        <li><a href="#"><i class="fab fa-cc-amex"></i></a></li><br/>
                    </ul>
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright ©<script>document.write(new Date().getFullYear());</script>2024 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>











<!-- <footer style="background-color: rgb(171, 176, 192);" *ngIf="!islogin()">
  <div class="container" style="background-color: rgb(171, 176, 192); padding: 10px;">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px; margin-bottom: 20px; height: 80px; display: flex; justify-content: center; align-items: center; text-align: center;">
              <h2 style="font-size: 18px;">BECOME A MEMBER & GET 20% OFF</h2>
              <span class="bt2" style="margin-left: 10px;"><a href="#"><button type="button" class="btn btn-dark" style="padding: 10px 10px; font-size: 14px;">Sign Up for Free <i class="fas fa-arrow-right"></i></button></a></span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="color: aliceblue; margin-bottom: 10px;">
              <hr>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 under" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">PRODUCTS</h4>
              <p><a id="iid" href="shoes.html" class="link">Shoes</a></p>
              <p><a id="iid" href="cloth.html" class="link">Clothing</a></p>
              <p><a id="iid" href="access.html" class="link">Accessories</a></p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 under" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">SPORTS</h4>
              <p><a id="iid" href="running.html" class="link">Running</a></p>
              <p><a id="iid" href="basket.html" class="link">Basketball</a></p>
              <p><a id="iid" href="football.html" class="link">Football</a></p>
              <p><a id="iid" href="tennis.html" class="link">Tennis</a></p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 under" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">CATEGORY</h4>
              <p><a id="iid" href="Men.html" class="link">Men</a></p>
              <p><a id="iid" href="Women.html" class="link">Women</a></p>
              <p><a id="iid" href="Kids.html" class="link">Kids</a></p>
              <p><a id="iid" href="Sale.html" class="link">Sale</a></p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 under" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">COMPANY INFO</h4>
              <p><a id="iid" href="aboutus.html" class="link">About Us</a></p>
              <p><a id="iid" href="#" class="link">Careers</a></p>
              <p><a id="iid" href="#" class="link">Carbon Footprint</a></p>
              <p><a id="iid" href="#" class="link">Press</a></p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 under" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">SUPPORT</h4>
              <p><a id="iid" href="#" class="link">Help</a></p>
              <p><a id="iid" href="#" class="link">Shipping</a></p>
              <p><a id="iid" href="Contact.html" class="link">Contact Us</a></p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12" style="text-align: center; margin-top: 20px;">
              <h4 style="font-size: 16px;">FOLLOW US</h4>
              <p><a id="iid" href="#"><i class="fab fa-facebook-square"></i></a></p>
              <p><a id="iid" href="#"><i class="fab fa-instagram-square"></i></a></p>
              <p><a id="iid" href="#"><i class="fab fa-youtube"></i></a></p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="color: aliceblue; margin-bottom: 20px; margin-top: 20px;">
              <hr>
          </div>
          <h6 style="text-align: center; margin-bottom: 10px;">© 2024 EA.spoRT <i class="fas fa-volleyball-ball"></i>, Inc. All rights <i class="fas fa-heart"></i> reserved.</h6>
      </div>
  </div>
</footer> -->
