
<nav class="navbar navbar-expand-lg navbar-light fixed-top" *ngIf="!isloginnav()" >

    <div class="container-fluid">
      <a href="home.html" class="nav-link active" aria-current="page" style="font-size: 27px;
       color: rgb(0, 0, 0);font-weight: bold;margin-left: 100px;padding: 5px 0px;">SmarTchips <i class="fas fa-bolt"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 200px;font-size:18px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">HOME</a>
          </li>
         
          <li class="dropdown">
            <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
              <li *ngFor="let c of category">
                <a href="category/{{c.new_cat_id}}" class="dropdown-item">{{c.cat_name}}</a>
              </li>
            </ul>
          </li>

          <!-- <li class="nav-item"  >
            <a class="nav-link active" aria-current="page" href="product/{{product.new_pd_id}}">PRODUCTS</a>
          </li> -->
          
          
          <li class="nav-item">
            <a href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fas fa-cart-arrow-down"></i></a>
          </li>
          <!-- <li class="nav-item">
            <a href="#"><i class="fas fa-heart"></i></a>
          </li> -->

          <li class="nav-item2 ">
            <a class="nav-link2 active2 logout " aria-current="page" (click)="logout()" href="#">LOGOUT</a>
          </li>
        </ul>
        
      </div>
      
    </div>
  </nav>
