<div class="imagecover"></div>
<div class="formdone">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row   h-100">
      <div class="col-lg-3"></div>
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-md-6  col-sm-6">
      <div class="login-box" style="margin-top: 80px;">
        <div class="card card1" style="padding:20px;"> 
              
        <form [formGroup]="formlogin">
         
          <div class="card-body login-card-body">
            <div class="login-logo"><br><br>
              <h1 style="text-align:center"> Login in </h1>
             </div><br>
             <div style="text-align:center;color: red;">{{msg}}</div> <br><br>
             <div style="text-align:center;color: rgb(77, 255, 0);">{{msg2}}</div> <br><br>


             
              
              <div class="input-group mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email" style="padding:25px">
              </div>    
                
                <div *ngIf="f['email'].touched && f['email'].invalid" style="color:red;" class="msgerror">
                  
                  <div *ngIf="f['email'].errors && f['email'].errors['required']"> *Email is required.</div>
                 
                  <div *ngIf="f['email'].errors && f['email'].errors['email']"> *Invalid Email.</div>
                </div><br>
                
          
              
              <div class="input-group mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password" style="padding:25px">
              </div>
             
              <div *ngIf="f['password'].touched && f['password'].invalid" style="color:red;" class="msgerror">
                
                <div *ngIf="f['password'].errors && f['password'].errors['required']"> *Password is required.</div>
              </div><br>
              
              <div style="text-align:center;">
                <a href="signup" style="color:blue;">Don't have an account?   Sign up</a>
              </div><br><br>
              
              
              <div class="row">
                <button type="submit" class="btn btn-success " [disabled]="formlogin.invalid" (click)="submit()" style="padding:20px;"> Log in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>


