<div class="container">
    
  <div class="row"> 
    <div class="col-sm-12 col-lg-3 col-md-6 " *ngFor="let item of products" style="margin-top: 50px;">
        <div class="card h-100" >
            <a href="card/{{item.new_pd_id}}">
                <img src="{{item.pd_img}}" class="card-img-top" alt="..." style="height: 230px">
            </a>
            <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                    <i *ngFor="let star of stars; let i = index" 
                    class="fa" 
                    [ngClass]="{'fa-star': i < 5, 'fa-star-o': i >= 5}">
                 </i>
                      <li class="text-muted text-right">{{ item.pd_cost| currency }}</li>
                  </ul>
                <a href="#" class="h2 text-decoration-none text-dark">{{item.pd_name}}</a>
                <p class="card-text">
                    {{item.pd_decription}}
                </p>
  
                <p class="text-muted">{{item.pd_review}}</p>
                <button><a href="card/{{item.new_pd_id}}">Add To Cart</a></button>
            </div>
        </div>
    </div>
    
  </div>
  </div>